<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-expand navbar-static-top">
            <div class="container-fluid">
                <div class="nav navbar-nav">
                    <h2>
                        <b>
                            <font color="red">Tripa</font>
                            <font color="blue">Mania</font>
                        </b>
                    </h2>
                    Expierence for Life!
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">My Plans</a>
                    </li>
                    <li>
                        <a routerLink='/login'>
                            <span class="glyphicon glyphicon-log-in"></span> Login
                        </a>
                    </li>
                    <li>
                        <a routerLink="/Signup">
                            <span class="glyphicon glyphicon-user"></span> Sign Up
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>